.container{
    background-color: yellow;
}

@media (max-width: 768px) {
     
    .container{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        height: 40px;
    }



  }